<div *ngIf="isProduct">
  <div class="promotion">
    <label for="promo-code">Have A Promo Code?</label>
    <input type="text" id="promo-code" [formControl]="promoCodeInp" /> <button type="button" (click)="clickComfirmSubmitCode()"></button>
  </div>

  <div class="summary">
    <ul>
      <li>Subtotal <span>{{subTotal | currency : 'VND': 'code': '1.0-0' : 'vi'}}</span></li>
      <li>Tax <span>{{taxMoney | currency : 'VND': 'code': '1.0-0' : 'vi'}}</span></li>
      <li *ngIf="promoCode">Discount <span>{{promoCode.discount}} %</span></li>
      <li class="total">Total <span>{{total | currency : 'VND': 'code': '1.0-0' : 'vi'}}</span></li>
    </ul>
  </div>

  <div class="checkout">
    <button type="button" (click)="clickComfirmCheckout()">Check Out</button>
  </div>
</div>
